<%- include ('partials/header'); %>

  <h1>All of your citations, Organised.</h1>
  <a href="/logout">Logout</a>

  <div class="recents">
    <h4>Recents</h4>
    <ul>

    </ul>
  </div>

  <div class="row">
  <div class="column">

    <h2>Scheme govt</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis Praesent scelerisque tortor sed accumsan convallis.</p>
  </div>

  <div class="column">
    <h2>Fan friction</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus accumsan convallis.</p>
  </div>

 <!--  <div class="column">
    <h2>Research</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis  accumsan convallis.</p>
  </div>




<%- include ('partials/footer'); %>
