<%- include ('partials/header'); %>

  <div class="navi">
    <h1 class="header">
      Welcome to CONFAB
    </h1>
    <span class="subhead">
      Save, Share, Explore
    </span>
  </div>


  <div class="flex-container">
    <div class="left">
      <img width="40%" height="40%" src="landing.png" alt="">
      <h3>

        <br>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        <br>
        <br>
         in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h3>
    </div>

  </div>



<%- include ('partials/footer'); %>
