<%- include ('partials/header'); %>

<form class="" action="/sign" method="post">
  <label for="">Email</label>
  <input type="text" name="email" value="" placeholder="Email">
  <label for="">Password</label>
  <input type="password" name="password" value="" placeholder="Password">
  <button type="submit" name="button">Submit</button>
</form>

<a href="/new">Sign Up</a>

<%- include ('partials/footer'); %>
