<%- include ('partials/header'); %>
<div class="flex-display">
    <img width="40%" height="40%" src="signup.png">
    
    <form class="form-window" action="/new" method="post">
      <input type="text" name="username" class="forms" placeholder="Username" value="">
      <input type="password" name="password" class="forms" value="" placeholder="Password">
      <button type="submit" class="signup-btn" name="button">Sign Up</button>
    </form>
</div>




<%- include ('partials/footer'); %>
