<%- include ('partials/header'); %>

<form class="" action="/new" method="post">
  <label for="">Full Name</label>
  <input type="text" name="name" value="" placeholder="Full Name">
  <label for="">Email</label>
  <input type="text" name="email" placeholder="Email" value="">
  <label for="">Mobile No.</label>
  <input type="text" name="number" value="" placeholder="Mobile No.">
  <label for="">Password</label>
  <input type="password" name="password" value="" placeholder="password">
  <button type="submit" name="button">Sign Up</button>
</form>

<a href="/sign">Log In</a>

<%- include ('partials/footer'); %>
