<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confab</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
                <a class="logo" href="/">CONFAB</a>
                <nav>
                    <ul class="nav__links">
                        <li><a href="#">About</a></li>
                        <li><a href="/sign">Login</a></li>
                    </ul>
                </nav>
                <a class="cta" href="/new">Sign Up</a>
                <p class="menu cta">Menu</p>
            </header>
            <div id="mobile__menu" class="overlay">
                <a class="close">&times;</a>
                <div class="overlay__content">
                    <a href="#">Services</a>
                    <a href="#">Projects</a>
                    <a href="#">About</a>
                </div>
            </div>

            <div class="container">
